/* ===========================
   SECTION BASE
=========================== */
.contato-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #1f2937;
}

/* ===========================
   CONTAINER
=========================== */
.contato-container {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 640px) {
    .contato-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .contato-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* ===========================
   FORM
=========================== */
.contato-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

}

@media (min-width: 768px) {
    .contato-form {
        flex-direction: row;
    }
}

/* ===========================
   COLUMNS
=========================== */
.right-column {
    padding: 1rem;
    width: 28%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 0.5rem;
    background-color: #111827;
    ;

}

.left-column {
    padding: 1rem;
    width: 22%;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: #111827;

}

@media (min-width: 768px) {
    .right-column {
        padding: 2rem;
        border-radius: 0 0.5rem 0.5rem 0;
    }

    .left-column {
        padding: 2rem;
        gap: 3rem;
        border-radius: 0.5rem 0 0 0.5rem;
    }
}

/* ===========================
   BOXES
=========================== */
.contato-inputbox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contato-button-box {
    display: flex;
    justify-content: flex-end;

}

.contato-cards-box {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}


/* ===========================
   TITLES & LABELS & INPUTS 
=========================== */
.contato-title {
    color: #fff;
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.contato-title span {
    color: #10b981;
}

.contato-subtitle {
    font-size: 1.25rem;
    color: #9ca3af;
    text-align: center;
    margin-bottom: 3rem;
}

.contato-highlight {
    color: rgb(16, 185, 129);
}

.label {
    font-size: 1.25rem;
    color: rgb(156, 163, 175);
    margin-right: 2rem;
}

.text-input {
    background-color: #1f2937;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid rgb(55 65 81);
    border-width: 1px;
    line-height: 1.5rem;
}

.text-area {
    background-color: #1f2937;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid rgb(55 65 81);
    line-height: 1.5rem;
    height: 100%;
}

.text-input:focus,
.text-area:focus {
    outline: none;
    border: 2px solid #10b981;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;

}

.greetins {
    padding: 1rem;
    color: rgb(156, 163, 175);
    ;
}

.hidden {
    display: none;
}

/* ===========================
   BUTTONS
=========================== */

.submit-button {
    background-color: rgb(16, 185, 129);
    color: white;
    padding: 1rem 2rem;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    width: 100%;
}

.submit-button:hover {
    background-color: rgb(5, 150, 105);
    /* hover:bg-emerald-600 */
}

/* ===========================
   Cards
=========================== */

.contato-card {
    border: 1px solid rgb(55 65 81);
    color: rgb(16, 185, 129);
    padding: 0.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor: pointer;
    background-color: #111827;
    width: 30%;
    text-align: center;

}

.contato-card:hover {
    box-shadow: 0 12px 30px rgba(16, 185, 129, 0.4);
    transform: translateY(-4px);
}