/* ======== SECTION WRAPPER ======== */

.experiencias-section {
  padding: 5rem 0 5rem 0;
}

/* ======== CONTAINER ======== */


.curriculo-container {
  padding-top: 2.5rem;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.card-left{
  text-align: right;
  justify-content: center;
  flex:2;
  max-width: 25%;
}

.card-right{
  flex:2;
  max-width: 25%;
}

.spacer-g{
  flex: 4;
}
.spacer-p{
  flex: 1;
}


/* ======== Buttons ======== */

.curriculoButton {
  padding: 1rem 2rem;
  font-size: 1.125rem;
  background-color: #059669;
  color: #fff;
  border-radius: 0.375rem;
  transition: background-color 0.3s;
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;

  text-decoration: none;
}

.curriculoButton:hover {
  background-color: #047857;
}

/* ======== Letter ======== */

.title {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

/* ======== COMPONENTS ======== */

.divisoriaCentral {
  position: absolute;
  left: 50%;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: grey;
  transform: translateX(-50%);
  z-index: 1;
}

.losangulo {
  position: absolute;
  left: 50%;
  top: 60%;
  width: 20px;
  height: 20px;
  transform: rotate(45deg) translateX(-70%);
  background-color: #059669;
  z-index: 2
}
/* ======== MEDIA ======== */

@media (max-width: 768px) {
  .card-left {
    flex: 999;
    max-width: 90%;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
  }

  .card-right {
    flex: 99999;
    max-width: 90%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .spacer-g{
  flex: 0;
}
.spacer-p{
  flex: 0;
}

  .divisoriaCentral {
  left: 5%;
}

.losangulo {
  left: 5%;
}
}



